/* EmployeePage.css */
.employee-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.employee-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.employee-search-filter-container {
  margin-bottom: 20px;
}

.employee-list {
  list-style-type: none;
  padding: 0;
}

.employee-item-container {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.employee-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  border-bottom: none;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  border-bottom: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.employee-name {
  margin: 5px 0;
}

.employee-info {
  margin-left: auto;
  text-align: center;
  flex: 1;
  margin: 0;
}

.employee-actions {
  display: flex;
}

.employee-view-button,
.employee-edit-button,
.employee-archive-button {
  margin-left: 5px; /* Added margin to create space between buttons */
  padding: 5px 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 13px;
}

.employee-view-button:hover,
.employee-edit-button:hover,
.employee-archive-button:hover {
  background-color: #218838;
}

.employee-details {
  margin: 10px 0;
}

.employee-details table {
  width: 100%;
  border-collapse: collapse;
}

.employee-details table th, 
.employee-details table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-details table th {
  background-color: #f2f2f2 !important; /* Grey background color for row headers with higher specificity */
  font-weight: bold;
}

/* Styles for editable inputs */
.employee-details input[type="text"],
.employee-details select {
  width: 100%;
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
  font-size: 14px;
  text-align: left;
}

/* Styles for save and cancel buttons */
.employee-edit-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.employee-save-button,
.employee-cancel-button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 13px;
}

.employee-save-button:hover {
  background-color: #218838;
}

.employee-cancel-button {
  background-color: #dc3545;
  color: white;
}

.employee-cancel-button:hover {
  background-color: #c82333;
}

.employee-item-container::after,
.employee-item-container::before,
.employee-item::after,
.employee-item::before {
  content: '';
  display: block;
  height: 0;
  border: none;
  margin: 0;
  padding: 0;
}
