/* LoginForm.css */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-container {
  width: 400px;
  height: auto;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align contents */
}

.login-logo {
  width: 100px;
  margin-bottom: 10px;
}

.portal-title {
  font-size: 18px; /* Adjusted font size */
  font-weight: bold;
  margin-bottom: 10px;
}

.login-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the form group */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 80%; /* Adjusted width */
}

.form-group input {
  width: 80%; /* Consistent width for all inputs */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure consistent sizing */
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%; /* Consistent width to match input */
  margin: 0 auto; /* Center the input */
}

.password-wrapper input {
  width: 100%;
  padding-right: 30px; /* Adjust the padding to account for the button */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure consistent sizing */
}

.show-password-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.password-icon {
  color: #7a7a7a; /* Greyish color */
}

.login-btn {
  width: 80%; /* Adjusted width */
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #28a745; /* Green color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px auto 0; /* Center the button */
}

.login-btn:hover {
  background-color: #218838; /* Darker green color */
}
